.img {
    width: 200px;
    height: 200px;
}

.card {
    margin:0px auto;
	align-items: center;
}
.footer {
	background-color: #637713;
}
.sidebar {
    margin-top: 6%;
}

.sidebar div {
	background-color: #3d4324;
}
.btn-details {
	background-color: #c9f42d;
}
.user .user_avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.user .user_avatar {
	display: table-cell;
	vertical-align: middle;
}

.user .user_info {
	display: table-cell;
	vertical-align: middle;
	color: rgba(255, 255, 255, 0.722);
	font-size: 14px;
	line-height: 1.4;
	padding-left: 10px;
}

.user .user_name {
	font-weight: 500;
}

